.hd_mobile_replacements {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  border-collapse: collapse;
  width: 100%;
}

.hd_mobile_replacements th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px; 
  background-color: #ee7421;
  color: white;
}

.hd_replacements {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.hd_replacements th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px; 
  background-color: #ee7421;
  color: white;
}

.replacements td, .replacements th {
  border-right: 1px solid #ddd;
  padding: 8px;
}

.replacements tr:nth-child(even) {
  background-color: #f2f2f2;
}

.replacements tr:hover {
  background-color: #ddd;
}

.hd_replacement table th {
  padding: 4px !important;
  background-color: #ee7421;
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 18px !important;
}

.hd_replacements td {
  border-right: 1px solid #ddd;
}

.hd_replacements td {
  padding: 5px 5px 5px 5px;
}

.hd_replacements .start {
  width: 100px;
  text-align: center;
}

.hd_replacements .end {
  border-right: 0px !important;
}