.custom-select {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  /* background-color: #b6b7ba; */
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.custom-select select {
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
}

.custom-select select:focus {
  outline: none;
}

.btn-custom {
  background-color: #160a8b;
  color: white;
  opacity: 1 !important;
}

.btn-custom[hover] {
  color: red;
}

.selects-table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.selects-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px; 
  text-align: center;
  color: white;
}

.selects-table th.brand {
  background-color: black;
}

.selects-table th.model {
  background-color: #58585a;
}

.selects-table th.barlength {
  background-color: #77787b;
}

.selects-table th.pitch {
  background-color: #8a8c8f;
}

.selects-table th.gauge {
  background-color: #a7a9ac;
}

.selects-table th {
  border-right: 1px solid #ddd;
}