/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.custom-select {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: #b6b7ba;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.custom-select select {
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
}

.custom-select select:focus {
  outline: none;
}